<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<meta name="google-site-verification" content="LcjTEE9MhUbyRTskPbqvdGPzoXTHZAqX-8WAnug3rOU"></meta>
  <title>amopok</title>
  <meta name="title" content="Agence de conseil informatique et réalisation de sites web et applications android">
  <meta name="keywords" content="création de sites web, agence web, création de site internet, visite virtuelle, visite virtuelle Google, référencement de site web,  google street view,  photographe, responsive design, imprimerie, référencement ,  création sites web, CMS, tarif site web, publicité,  artisan, commercant,  html5, TPE, production video, google, infographie, creation entreprise, Produits en Bretagne, referencement de site web, web agency, bio, android, javascript, meteor, mongodb">
 <meta name="description" content="Création de sites web et applications android, javascript, meteor, mongodb, android">
<meta property="og:url" content="https://amopok.fr/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="amopok">
<meta property="og:locale" content="fr_FR">
</head>


<body>

    <ul id="menu-bar">
 <li><a href="/">Accueil</a></li>
<li><a href="/amopok_android">Android</a></li>
<li><a href="/amopok_web">Web</a></li>
<li><a href="/amopok_tarifs">Tarifs</a></li>
<li><a href="/amopok_devis">Contact</a></li>
</ul>
{{> applicationLayout}}
</body>

<template name="applicationLayout">
  {{> Template.dynamic template=main}}
</template>