<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<meta name="google-site-verification" content="LcjTEE9MhUbyRTskPbqvdGPzoXTHZAqX-8WAnug3rOU"></meta>
  <title>amopok</title>
</head>


<body>

    <ul id="menu-bar">
 <li><a href="/">Accueil</a></li>
<li><a href="/amopok_android">Android</a></li>
<li><a href="/amopok_web">Web</a></li>
<li><a href="/amopok_tarifs">Tarifs</a></li>
<li><a href="/amopok_devis">Contact</a></li>
</ul>
{{> applicationLayout}}
</body>

<template name="applicationLayout">
  {{> Template.dynamic template=main}}
</template>